<meta charset="utf-8">
<title>|HLTV VK Bot|</title>
<script type="application/javascript" src="./jquery.min.js"></script>
<script type="text/javascript" src="http://static.hltv.org//js/socketio/socket.io-1.3.5.js"></script>
<script type="text/javascript" src="./react-scorebot.js"></script>
<script>
  function get_action(form){
    listid = document.getElementById('match').value;
    startBot();
  }
</script>

<body style='background:url(tv.png) no-repeat;color:#f00;'> 
  <div id='log' style='margin-left:18px;margin-top:24px;height: 465px;width:833px;  display:block; overflow-y: hidden;'></div>
  <div style="margin-left:330px;margin-top: 5px;">
    <form>
      <input id="match" type="text" value="" title="Номер матча на hltv, цифры из url"></input>
      <input type="button" onclick="get_action();" value="OK"></input>
    </form>
  </div>
</body>
